<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Actor</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <a href="/"> <img src="/img/Argenflix.png" alt="Logo Argenflix"></a>
      </figure>
    <h1 class="titulo">Editar Actor/Actriz :</h1>
    <br>
    <section class="formulario">
        <form action="/actors/update/<%= Actor.id %>?_method=PUT" method="POST">
            <label for="first_name">Nombre :</label>
            <p><input type="text" name="first_name" id="" value="<%= Actor.first_name %>" required></p>
            <p style="color:red"><%= locals.errores && errores.first_name ? errores.first_name.msg : null %> </p>
            
            <label for="last_name">Apellido :</label>
            <p><input type="text" name="last_name" id="" value="<%= Actor.last_name %>" required></p>
            <p style="color:red"><%= locals.errores && errores.last_name ? errores.last_name.msg : null %> </p>

            <label for="rating">Rating :</label>
            <p><input type="number" step="0.1" name="rating" id="" value="<%= Actor.rating %>" required> </p>
            <p style="color:red"><%= locals.errores && errores.rating ? errores.rating.msg : null %> </p>
            

            <p>
                
                <label>Actuó en :</label><br>
                <% movies.forEach(movie => { %>
                
                <input type="checkbox" name="movieNumber" value="<%= movie.id %>"  id="movieNumber">
              <label for="movieNumber" ><%= movie.title %> </label><br>

        <!--  console.log('A quien le darás:', movies); %> -->
                <% }); %>
            </select>
        </p>

            <p>
                <select name="favorite_movie_id" id="" required>
                    <option value="" disabled selected>- Película favorita del catálogo - </option>
                    <% for (let i = 0 ; i < movies.length; i++) { %>
                        <% if (movies[i].id == Actor.favorite_movie_id) { %>
                            <option value="<%= movies[i].id %>" selected>
                                <%= movies[i].title %>
                            </option>
                        <% } else { %>
                            
                            <option value="<%= movies[i].id %>">
                                <%= movies[i].title %>
                            </option>
                        <% } %>
                    <% } %>
                </select>
            </p>
           
           
            <br>
            <p> <button class="botonAgregar" type="submit">Agregar</button>
            
            <a  class="botonVolver" href="/actors">Listado de Actores</a></p>
        </form>
    </section>
    
</body>

</html>